<div id="MyDow">

<div [ngStyle]="{backgroundImage:'url(assets/img/fondo2.jpeg)'}" style="display: flex;    height: 2100px;
width: 1400px;">

        <div class="principal">

            <div class="izq">



                <img src="assets/img/leo.jpg"

                    alt="" srcset=""

                    width="250" class="foto">



            <div class="contenedor">



                    <div class="tabula">

                        <div class="pesta">

                            <h4 class="nombre2">DATOS DE CONTACTO</h4>

                        </div>

                            <div class="wasap">

                                <div style=" position: absolute;margin-left: 95px;">

                                    <i class="fab fa-whatsapp" ></i>

                                </div>

                                <div style="position: absolute;

                                margin-top: 15px;

                                margin-left: 155px;">

                                    <p style="display: inline;font-size: 25px;"> 1125046726</p>

                                </div>

                            </div>

                            <div class="email">

                                <div style=" position: absolute;margin-left: 95px;">

                                    <i class="fas fa-envelope-square"></i>

                                </div>

                                <div style="position: absolute;

                                margin-top: 15px;

                                margin-left: 155px;">

                                    <p style="display: inline;font-size: 20px;"> leonardojosearevalo@gmail.com</p>

                                </div>

                            </div>

                            <div class="home">

                                <div style=" position: absolute;margin-left: 95px;" class="home-i">

                                    <i class="fas fa-home"></i>

                                </div>

                                <div style="position: absolute;

                                margin-top: 15px;

                                margin-left: 155px;">

                                    <p style="display: inline;font-size: 20px;"> Buenos Aires, Argentina</p>

                                </div>

                            </div>

                            <div class="cumple">

                                <div style=" position: absolute;margin-left: 95px;" class="home-i">

                                    <i class="fas fa-birthday-cake"></i>

                                </div>

                                <div style="position: absolute;

                                margin-top: 15px;

                                margin-left: 155px;">

                                    <p style="display: inline;font-size: 20px;"> 48 </p>

                                </div>

                            </div>

                            <div class="linkdin">

                                <div style=" position: absolute;margin-left: 95px;" class="home-i">

                                    <i class="fab fa-linkedin"></i>

                                </div>

                                <div style="position: absolute;

                                margin-top: 15px;

                                margin-left: 155px;">

                                    <p style="display: inline;font-size: 20px;"> <a href="https://www.linkedin.com/in/ing-leonardo-arevalo-511477a3">linkedin ing-leonardo-arevalo </a> </p>

                                </div>

                            </div>



                        </div>



                        <div class="tabula">

                            <div class="pesta">

                                <h4 class="nombre2">FORMACI&Oacute;N &Aacute;CADEMICA</h4>

                            </div>



                            <div class="gradu">

                                <div style=" position: absolute;margin-left: 95px;" class="home-i">

                                    <i class="fas fa-user-graduate"></i>

                                </div>

                                <div style="position: absolute;

                                margin-top: 15px;

                                margin-left: 155px;">

                                    <p style="display: inline;font-size: 20px;"> Ingeniero en Sistemas </p>

                                </div>

                            </div>

                        </div>



                        <div class="tabula">

                          <div class="pesta">

                              <h4 class="nombre2">CAPACITACI&Oacute;N</h4>

                          </div>



                          <div class="gradu">

                              <div style=" position: absolute;margin-left: 95px;" class="home-i">

                                  <i class="fas fa-user-graduate"></i>

                              </div>

                              <div style="position: absolute;

                              margin-top: 15px;

                              margin-left: 155px;">

                                  <p style="display: inline;font-size: 20px;"> Capacitacion en Angular  </p>
                                  <br/>
                                  <p style="display: inline;font-size: 20px;"> Año 2020 en https://openwebinars.net/</p>

                              </div>

                          </div>

                      </div>


                    <!--



                    <div class="tabula">

                        <div class="pesta">

                        <h4>CURSOS REALIZADOS</h4>

                    </div>

                    -->

            </div>

            </div>

            <div class="dere">

                <p class="nombre">Leonardo Arevalo</p>

                <p style="color:white;margin-left: 2%;">Ingeniero en Sistemas</p>

            </div>

            <div class="detalle">





                <div class="tabula2">

                    <div class="pesta">

                        <h4 class="nombre2">EXPERIENCIA LABORAL</h4>

                    </div>

                    <hr class="style-seven">

                    <div class="tra">

                      <div style="

                      margin-top: 15px;

                      margin-left: 80px;">

<p style="font-size: 20px;"><b>-Java 11</b></p>
<p style="font-size: 20px;"><b>-MicroServicios con Spring Boot</b></p>
<p style="font-size: 20px;"><b>-java gradle</b></p>
<p style="font-size: 20px;"><b>-Test Unit groovy</b></p>
<p style="font-size: 20px;"><b>-Flyway</b></p>
<p style="font-size: 20px;"><b>-Hibernate</b></p>
<p style="font-size: 20px;"><b>-GitLab, IntelliJ IDEA</b></p>



                          <p style="font-size: 15px;"> Diciembre 2021 - Actualidad </p>

                          <p style="font-size: 15px;"> Empresa : Empresa </p>

                      </div>

                  </div>

                    <hr class="style-seven">

                    <div class="tra">

                      <div style="

                      margin-top: 15px;

                      margin-left: 80px;">

<p style="font-size: 20px;"><b>-Java 7,11</b></p>
<p style="font-size: 20px;"><b>-MicroServicios con Spring Boot</b></p>
<p style="font-size: 20px;"><b>-Oracle pl/sql</b></p>
<p style="font-size: 20px;"><b>-Struts 2 , jpa , hibernate , jsp</b></p>
<p style="font-size: 20px;"><b>-jquery, javascript html, css</b></p>
<p style="font-size: 20px;"><b>-GitLab, Eclipse</b></p>



                          <p style="font-size: 15px;"> Agosto 2021 - Noviembre 2021 </p>

                          <p style="font-size: 15px;"> Empresa : Zeni </p>

                      </div>

                  </div>


                    <hr class="style-seven">

                    <div class="tra">

                      <div style="

                      margin-top: 15px;

                      margin-left: 80px;">

<p style="font-size: 20px;"><b>-Desarrollos Java 11 </b></p>
<p style="font-size: 20px;"><b>-MicroServicios con Spring Boot</b></p>
<p style="font-size: 20px;"><b>-html, JavaScript, css </b></p>
<p style="font-size: 20px;"><b>-GitHub , jenkins , Junit, Eclipse</b></p>


                          <p style="font-size: 15px;"> Mayo 2021 - Julio 2021 </p>

                          <p style="font-size: 15px;"> Empresa : Neoris </p>

                      </div>

                  </div>

      <hr class="style-seven">

                    <div class="tra">

                        <div style="

                        margin-top: 15px;

                        margin-left: 80px;">

<p style="font-size: 20px;"><b>-Desarrollos java 11</b></p>
<p style="font-size: 20px;"><b>-MicroServicios con Spring Boot</b></p>

<p style="font-size: 20px;"><b>-Despliegue en google cloud, jenkins, sonarqube</b></p>

<p style="font-size: 20px;"><b>-Desarrollo Reactivo en WebFlux</b></p>

<p style="font-size: 20px;"><b>-Desarrollos en Pruebas Unitarias en Junit 5</b></p>

<p style="font-size: 20px;"><b>-Base de Datos Firebase, Rest Api, Json</b></p>

                            <p style="font-size: 15px;"> Diciembre 2019 - Abril 2021 </p>

                            <p style="font-size: 15px;"> Empresa : Lear Soft </p>

                        </div>

                    </div>

        <hr class="style-seven">


        <div class="tra">

          <div style="

          margin-top: 15px;

          margin-left: 80px;">

              <p style="font-size: 20px;"><b>-Pl/sql </b></p>
              <p style="font-size: 20px;"><b>-GitHub , jenkins , Junit, Eclipse </b></p>
              <p style="font-size: 20px;"><b>-Jquery, javascript html, css, Datatable</b></p>

              <p style="font-size: 15px;"> Marzo 2019 - Noviembre 2019 </p>

              <p style="font-size: 15px;"> Empresa : America Virtual C.A </p>

          </div>

      </div>



      <hr class="style-seven">


                    <div class="tra">

                        <div style="

                        margin-top: 15px;

                        margin-left: 80px;">

                            <p style="font-size: 20px;"><b>-Jquery, javascript html, css, Datatable </b></p>
                            <p style="font-size: 20px;"><b>-Pl/sql </b></p>

                            <p style="font-size: 15px;"> Julio 2018 - Marzo 2019 </p>

                            <p style="font-size: 15px;"> Empresa : iStorming </p>

                        </div>

                    </div>



                    <hr class="style-seven">



                    <div class="tra">

                        <div style="

                        margin-top: 15px;

                        margin-left: 80px;">

                            <p style="font-size: 20px;"><b>-Desarrollos java 6,7 , .Net</b></p>
                            <p style="font-size: 20px;"><b>-Pl/sql </b></p>
                            <p style="font-size: 20px;"><b>-Jquery, javascript html, css</b></p>

                            <p style="font-size: 15px;"> 08/2008 - 01/2018 </p>

                            <p style="font-size: 15px;"> Empresa : C.A de Seguros la Occidental - Venezuela </p>

                        </div>

                    </div>





                    <hr class="style-seven">



                    <div class="tra">

                        <div style="

                        margin-top: 15px;

                        margin-left: 80px;">


                            <p style="font-size: 20px;"><b>-Asp</b></p>
                            <p style="font-size: 20px;"><b>-RPG</b></p>
                            <p style="font-size: 20px;"><b>-DB2</b></p>

                            <p style="font-size: 15px;"> 1993 - 2006 </p>

                            <p style="font-size: 15px;"> Empresa : C.A de Seguros la Occidental - Venezuela </p>

                        </div>

                    </div>



                </div>





            </div>

        <!--        <div class="fix"></div>-->

        </div>



    </div>

  </div>





