
<!--<nav *ngIf="auth.user | async as user; else login" class="navbar navbar-expand-lg navbar-light bg-light">
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="    box-shadow: 0 10px 6px -6px #777;">
  <a routerLink="/" class="navbar-brand" >Ing.Leonardo Arevalo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a routerLink="settings" class="nav-link">Setting</a>
      </li>
      <li class="nav-item">
        <a routerLink="cv" class="nav-link">CV</a>
      </li>
      <!--
          <li class="nav-item">
            <a routerLink="users" class="nav-link">users</a>
          </li>
          <li class="nav-item">
            <a routerLink="storage" class="nav-link">storage</a>
          </li>
          -->
      </ul>

        <div *ngIf="auth.user | async as user; else login">
          {{ user.email }}
          <button (click)="auth.logout()" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
        </div>

        <ng-template #login>
          <button (click)="auth.glogin()" class="btn btn-outline-success my-2 my-sm-0">Login</button>
        </ng-template>

  </div>
</nav>



<!--
<div style="text-align: center;">
    <h1>
        {{title}}
    </h1>
</div>

<div *ngIf="auth.user | async as user; else login" class="loginDiv">
  {{ user.uid }} - {{ user.email }}
  <br/>
  <button (click)="auth.logout()">logout</button>
</div>
-->


<!--
<ng-template #login>
  <div class="loginDiv">
      <button (click)="auth.glogin()">google Login</button>

<form class="form" action="">

    <input type="text" mame="email" placeholder="Escribre tu email" [(ngModel)]="auth.email" [ngModelOptions]="{standalone: true}"/>
    <br/>  <br/>
    <input type="password" mame="pass" placeholder="Escribre tu password" [(ngModel)]="auth.pass" [ngModelOptions]="{standalone: true}"/>
    <br/>

    <button (click)="signEmail()">email Login</button>

</form>

  </div>
</ng-template>

-->
<router-outlet></router-outlet>
